[submodule "Native/source"]
	path = Native/mach-dxcompiler
	url = https://github.com/sinnwrig/mach-dxcompiler
[submodule "Native/DirectXShaderCompiler-zig"]
	path = Native/DirectXShaderCompiler-zig
	url = https://github.com/sinnwrig/DirectXShaderCompiler-zig
